@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  min-height: 100vh;
  background-color: theme('colors.neutral.50');
  color: theme('colors.neutral.900');
  font-feature-settings: "rlig" 1, "calt" 1;
}