# Configurações da API da Embrapa
EMBRAPA_API_KEY=chave_api_aqui
EMBRAPA_API_URL=https://api.cnptia.embrapa.br/agritec
EMBRAPA_API_VERSION=v1

# Configurações do OpenMeteo
OPENMETEO_CACHE_DIR=.cache
OPENMETEO_CACHE_TIMEOUT=3600  # 1 hora em segundos

# Configurações do serviço de geocodificação
GEOCODING_CACHE_TIMEOUT=86400  # 24 horas em segundos
GEOCODING_MAX_RETRIES=3